/**
 * Basic CSS rules.
 */

/* basics */

* {
	font-family:      inherit;
	font-style:       inherit;
	font-variant:     inherit;
	font-weight:      inherit;
	font-stretch:     inherit;
	font-size:        inherit;
	font-size-adjust: inherit;
	text-indent:      inherit;
	text-align:       inherit;
	text-decoration:  inherit;
	text-shadow:      inherit;
	text-transform:   inherit;
	letter-spacing:   inherit;
	word-spacing:     inherit;
	white-space:      inherit;
}

html {
	font-family:      Verdana,Helvetica,Arial,sans-serif;
	font-style:       normal;
	font-variant:     normal;
	font-weight:      normal;
	font-stretch:     normal;
	font-size:        12px;
	font-size-adjust: 0.58;
	text-indent:      0;
	text-align:       left;
	text-decoration:  none;
	text-shadow:      none;
	text-transform:   none;
	letter-spacing:   normal;
	word-spacing:     normal;
	white-space:      normal;
}

html,
body {
	margin:           0;
	padding:          0;
	background-color: #FFF8CC;
}

html {
	padding:          10px 15px 0px 2.3em;
	overflow-y:       scroll;
	min-width:        960px;
}

div#documentHead {
	display: block;
}

div#documentHead * {
	display: none;
}

div#documentHead div.title {
	display:          block;
	margin:           0 0 15px;
	padding:          5px 10px;
	border:           1px solid black;
	font-size:        2em;
	font-weight:      bold;
	background-color: #AABB67;
	overflow:         auto;
}


/* documentBody */

div#documentBody {
	float:            left;
	clear:            both;
	width:            100%;
	margin:           0;
	padding:          0;
	border:           none;
}

/* inline */

div#documentBody span.small {
	font-size:        80%;
}

div#documentBody span.small * {
	font-size:        100%;
}

/* body: table */

div#documentBody table {
	table-layout:     fixed;
	width:            100%;
    margin:           10px 0;
	border-collapse:  collapse;
	background-color: #FFF8CC;
}

div#documentBody th {
	width:            auto;
	padding:          5px;
	border:           1px solid black;
	vertical-align:   middle;
	overflow:         hidden;
	font-weight:      bold;
    text-align:       center;
}

div#documentBody td {
	padding:          5px;
	border:           1px solid black;
	vertical-align:   middle;
	text-align:       center;
	overflow:         auto;
}

div#documentBody td dl,
div#documentBody td ul {
	margin:           0;
}

div#documentBody td ul {
	list-style:       none;
	padding:          0;
}

div#documentBody td li {
    text-align:       center;
}

div#documentBody table.left td,
div#documentBody td.left,
div#documentBody td.left ul li {
    text-align:       left;
}

/* lists */

div#documentBody ul,
div#documentBody ol,
div#documentBody dl {
	margin:           0;
}

/* emphasation */

div#documentBody em, div#documentBody em * {
    font-style: italic;
}

div#documentBody strong, div#documentBody strong * {
    font-weight: bold;
}