/**
 * CSS rules for displaying chapters.
 */

div#documentBody div.section {
	padding:          15px 0 0;
}

div#documentBody div.section.even {
	margin:           0 -10px;
	padding-left:     10px;
	padding-right:    10px;
    background-color: #DDEEAA;
}

div#documentBody div.section > *.heading {
	margin:           0;
	padding:          0 0 5px;
	font-size:        1.4286em;
	font-weight:      bold;
}

div#documentBody div.section div.section > *.heading {
	margin:           0;
	padding:          0;
	font-size:        1.2143em;
	font-weight:      bold;
}

div#documentBody div.section div.section div.section > *.heading {
	margin:           0;
	padding:          0;
	font-size:        1em;
	font-weight:      bold;
}

div#documentBody div.section div.section div.section div.section > *.heading {
    margin:           0;
	padding:          0;
    font-size:        1em;
    font-style:       italic;
}