/**
 * CSS-Rules for displaying rules.
 */

div#documentBody div.rule,
div#documentBody div.rule > div.content {
	float:            left;
	clear:            both;
	width:            100%;
}

div#documentBody div.rule > div.content > div.section {
    clear: both;
}

div#documentBody div.rule {
	padding-bottom:   10px;
}

div#documentBody div.rule > div.content > div.section > *.heading {
	float:            left;
    width:            8.647em;
    clear:            both;
}

div#documentBody div.rule > div.content > div.section > div.content {
    margin:           0 0 0 10.5em;
	padding:          0.2143em 0 0;
}

div#documentBody div.rule > div.content > div.section > div.content > div.section {
	padding:          0;
}

div#documentBody div.rule > div.content > div.section > div.content > div.section + div.section {
	padding:          10px 0 0;
	clear:            both;
}

div#documentBody div.rule ul.for,
div#documentBody div.rule ul.update,
div#documentBody div.rule ul.destroy {
	display:          block;
	padding:          0;
	margin:           0;
	list-style:       none;
}

div#documentBody div.rule ul.for li + li,
div#documentBody div.rule ul.update > li,
div#documentBody div.rule dl.update > dt,
div#documentBody div.rule ul.destroy > li {
	margin:           5px 0 0;
}