div#documentBody div.hiddenContent {
	display:          inline;
    margin:           0;
    padding:          0;
	text-align:       left;
	font-family:      Verdana,Helvetica,Arial,sans-serif;;
	font-style:       normal;
	font-variant:     normal;
	font-weight:      normal;
	font-stretch:     normal;
	font-size:        12px;
	font-size-adjust: 0.58;
	text-indent:      0;
	text-align:       left;
	text-decoration:  none;
	text-shadow:      none;
	text-transform:   none;
	letter-spacing:   normal;
	word-spacing:     normal;
	white-space:      normal;
}

div#documentBody div.hiddenContent span.hover {
	color:            #EF7944;
}

div#documentBody div.hiddenContent div.hide {
	display:          none;
	z-index:          200; 
}

div#documentBody div.hiddenContent:hover div.hide {
	display:          inline-block;
}

div#documentBody div.hiddenContent div.hide:active {
	visibility:       hidden;
}

div#documentBody div.hiddenContent div.resize {
	display:          block;
	position:         fixed;
	top:              0;
	bottom:           0;
	left:             0;
	right:            0;
	z-index:          200;
}

div#documentBody div.hiddenContent div.hide:active div.resize {
	display:          block;
	visibility:       visible;
	position:         fixed;
	top:              25%;
    left:             25%;
    right:            25%;
    bottom:           25%;
}

div#documentBody div.hiddenContent div.content {
	display:          block;
    position:         fixed;
	top:              25%;
    left:             25%;
    right:            25%;
    bottom:           25%;
	overflow:         scroll;
	background-color: #FFF8CC;
	padding:          10px;
    border:           1px solid black;
	z-index:          400;
}

div#documentBody div.hiddenContent div.content div.label {
	position:         static !important;
	padding:          0 !important;
	margin:           0 0 15px !important;
	border:           none !important;
    font-size:        1em !important;
    font-style:       italic !important;
	font-weight:      bold !important;
}
