/**
 * CSS rules for displaying the navigation.
 */

div#documentNavigation {
	position:         fixed;
	top:              10px;
	left:             0;
	width:            1.8em;
	height:           auto;
	margin:           0;
	padding:          0;
	border:           none;
	border-left:      none;
	z-index:          100;
}

div#documentNavigation * {
	display:          none;
}

div#documentNavigation > *.heading {
	display:          block;
	margin:           0;
	padding:          0.5em 0;
	border:           1px solid black;
	background-color: #CCCC67;
	font-weight:      bold;
	text-transform:   uppercase;
}

div#documentNavigation > *.heading span {
	display:          block;
	margin:           -0.15em 0;
	font-weight:      inherit;
	text-align:       center;
	text-transform:   inherit;
}

/* navigation: hover */

div#documentNavigation:hover {
	display:          block;
	position:         fixed;
	top:              10px;
	left:             0;
	width:            auto;
	max-width:        50%;
	height:           auto;
	max-height:       75%;
	border:           none;
	z-index:          100;
}

div#documentNavigation:hover > *.heading {
    display:          block;
	width:            100%;
	height:           1.4em;
	margin:           0;
    padding:          0.3em 10px 0.15em;
	border:           1px solid black;
	border-left:      none;
    border-bottom:    none;
	font-size:        1.5429em;
	font-weight:      bold;
    text-transform:   none;
    background-color: #CCCC67;
}

div#documentNavigation:hover > *.heading span {
	display:          inline;
	margin:           0;
    font-size:        inherit;
    font-weight:      inherit;
    text-transform:   inherit;
}

div#documentNavigation:hover > ul {
	display:          block;
	position:         fixed;
	top:              10px;
	left:             0;
	width:            auto;
	max-width:        50%;
	height:           auto;
	max-height:       75%;
	margin:           2.858em 0 0;
	padding:          5px 10px;
	border:           1px solid black;
	border-left:      none;
	overflow-y:       scroll;
	background-color: #EFF8AA;
}

div#documentNavigation:hover > ul ul {
	display:          block;
	margin:           0 0 0 10px;
	padding:          0;
}

div#documentNavigation:hover li {
	display:          block;
	margin:           0;
	padding:          0;
}

div#documentNavigation:hover a {
	display:          block;
	width:            100%;
	padding:          3px;
	margin:           0;
    color:            blue;
}

div#documentNavigation:hover a:visited, div#documentNavigation:hover a:active, div#documentNavigation:hover a:link {
    color:            blue;
}

div#documentNavigation:hover a:hover, div#documentNavigation:hover a:focus {
    color:            red;
}