/**
 * CSS rules for displaying parts.
 */

div#documentBody div.part {
	float:            left;
	clear:            both;
	width:            100%;
	margin:           0 0 15px;
    padding:          0;
    border:           1px solid black;
    background-color: #dFe7AA;
}

div#documentBody div.part > *.heading {
	clear:            both;
	margin:           0;
	padding:          5px 10px;
    border-bottom:    1px solid black;
	font-size:        1.5429em;
	font-weight:      bold;
    background-color: #A29F20;
}

div#documentBody div.part > div.content {
	padding:          0 10px;
}