/**
 * CSS rules for displaying class diagram like output.
 */

div#documentBody div.class,
div#documentBody div.object,
div#documentBody div.objects {
	display:          block !important;
    float:            left !important;
	clear:            none !important;
	width:            auto;
    margin:           10px 10px 10px 0;
    padding:          0 !important;
    border:           1px solid black;
	background-color: #FFF8CC;
}

div#documentBody div.objects {
	margin:           10px 10px 15px 5px;
}

div#documentBody div.rule > div.content > div.section > div.content > div.class,
div#documentBody div.rule > div.content > div.section > div.content > div.object {
	margin:           0 10px 10px 0;
}

div#documentBody div.rule > div.content > div.section > div.content > div.objects {
	margin:           0 10px 15px 5px;
}

/* class heading */

div#documentBody div.class > *.heading,
div#documentBody div.object > *.heading,
div#documentBody div.objects > *.heading {
	position:         relative;
	top: 0;
	right: 0;
	display:          block !important;
	margin:           0 !important;
	padding:          5px !important;
	font-size:        1em !important;
    font-weight:      normal !important;
    font-style:       normal !important;
	text-align:       center !important;
}

div#documentBody div.objects > *.heading {
	position:         relative !important;
    top:              5px !important;
    right:            5px !important;
    border:           1px solid black !important;
	background-color: inherit !important;
}

div#documentBody div.class > *.heading > span,
div#documentBody div.object > *.heading > span,
div#documentBody div.objects > *.heading > span {
    display:          block;
}


div#documentBody div.class > *.heading > span.name,
div#documentBody div.object > *.heading > span.name,
div#documentBody div.objects > *.heading > span.name {
    font-weight:      bold;
}

div#documentBody div.object > *.heading > span.name,
div#documentBody div.objects > *.heading > span.name {
	text-decoration: underline;
}

/* class content */

div#documentBody div.class > div.content > div,
div#documentBody div.object > div.content > div,
div#documentBody div.objects > div.content > div {
    border-top:       1px solid black;
    padding:          5px;
	margin:           0;
}

div#documentBody div.objects div.content > div {
	position:         relative;
    top:              5px;
    right:            5px;
    border:           1px solid black;
    border-top:       none;
	background-color: #FFF8CC;
}

/* pane headings */

div#documentBody div.class div.section > *.heading,
div#documentBody div.object div.section > *.heading,
div#documentBody div.objects div.section > *.heading {
	display:          block !important;
    margin:           -5px 0 !important;
    padding:          0 0 5px !important;
	font-size:        0.75em !important;
	font-style:       italic !important;
    font-weight:      normal !important;
    text-align:       center !important;
}

div#documentBody div.class div.literals > *.heading,
div#documentBody div.class div.properties > *.heading,
div#documentBody div.class div.classdefinition > *.heading,
div#documentBody div.object div.properties > *.heading,
div#documentBody div.objects div.properties > *.heading {
	display:          none !important;
}

/* pane content */

div#documentBody div.class ul,
div#documentBody div.object ul,
div#documentBody div.objects ul {
	display:          block;
    list-style:       none;
    margin:           0;
    padding:          0;
}

div#documentBody div.class ul > li,
div#documentBody div.object ul > li,
div#documentBody div.objects ul > li {
	display:          block;
    margin:           0;
    padding:          1px;
}

div#documentBody span.static {
	text-decoration:  underline;
}

div#documentBody div.parameterized {
    margin:           22px 15px 10px 0;
}
div#documentBody span.parameter {
	position: absolute;
	display: block;
	right: -5px;
    top:  -12px;
	padding: 0 2px 2px;
	background-color: #FFF8CC;
    border: 1px dashed black;
}

div#documentBody div.object span.parameter {
	text-decoration: underline;
}
