/* code */

div#documentBody dl.code {
	margin:           0;
	padding:          0;
}

div#documentBody div.hiddenContent dl.code {
	margin:           10px 0;
}

div#documentBody td dl.code {
	margin:           0;
}
div#documentBody dl.code dt {
	float:            left;
	font-style:       italic;
    margin:           0;
    width:            7.5em;
}

div#documentBody dl.code dt + dt {
    clear:            both;
}

div#documentBody td > dl.code dt {
    width:            auto;
    padding-right:    5px;
}

div#documentBody dl.code dd {
    margin:           0 0 0 7.5em;
}

div#documentBody td > dl.code dd {
    margin:           0;
}

div#documentBody dl.code dd + dt,
div#documentBody dl.code dd + dt + dd,
div#documentBody dl.code dd + dd {
	margin-top:       10px;
}
	

div#documentBody ol.formattedCode {
	display:         block;
	list-style:      none;
	margin:          0;
	padding:         0;
}

div#documentBody ol.formattedCode ol {
	margin:          0 0 0 10px;
}

div#documentBody ol.formattedCode li {
	margin:          0;
	padding:         0;
	text-align:      inherit;
}

div#documentBody code {
	font-family:      "Courier New", Courier, monospace;
}

div#documentBody code.proportional {
	font-family:      inherit;
}

div#documentBody dl.code.inline, div#documentBody dl.code.inline * {
    display:          inline;
    float:            none;
    width:            auto;
    margin:           0;
    padding:          0 5px 0 0;
}

