/**
 * CSS rules for displaying chapters.
 */

div#documentBody div.chapter {
	float:            left;
	clear:            both;
	width:            100%;
	margin:           0 0 15px;
    padding:          0;
    border:           1px solid black;
    background-color: #EFF8AA;
}

div#documentBody div.part > div.content > div.chapter {
	margin-top:       15px;
}

div#documentBody div.part > div.content > div.chapter + div.chapter {
	margin-top:       0;
}

div#documentBody div.chapter > *.heading {
	clear:            both;
	margin:           0;
	padding:          5px 10px;
    border-bottom:    1px solid black;
	font-size:        1.5429em;
	font-weight:      bold;
    background-color: #CCCC67;
}

div#documentBody div.chapter > div.content {
	padding:          0 10px;
}

div#documentBody div.chapter > div.content > dl {
	margin:           10px 0;
}