/**
 * CSS-Rules for displaying documentation content.
 */

div#documentBody dl.documentation {
    margin:           10px 0;
}

div#documentBody dl.documentation + div.section {
	padding-top:      5px;
}

div#documentBody table td dl.documentation {
	margin:           0;
}

div#documentBody dl.documentation dt {
	float:            left;
	font-style:       italic;
    margin:           0;
    width:            10.5em;
    clear:            both;
}

div#documentBody dl.documentation dd {
    margin:           0 0 0 10.5em;
}

div#documentBody dl.documentation dd + dt,
div#documentBody dl.documentation dd + dt + dd,
div#documentBody dl.documentation dd + dd {
	margin-top:       10px;
}

div#documentBody dl.documentation img {
	max-width:        50%;
	border:           1px solid black;
}