body {
	margin: 0; padding: 0;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	background: url(body_bg.png) repeat-x;
}
*{outline: none;}
img {border: 0;}
.container {
	width: 100%;
	height: 44px;
	font: normal 20px Verdana, Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0 auto;
	text-align:center;
}
ul#topnav {
	background: #344c00;
	margin: 0; padding: 0;
	float:left;
	width: 100%;
	list-style: none;
	font-size: 1.1em;

}
ul#topnav li {
	float: left;
	margin: 0; padding: 0;
	position: relative;
}
ul#topnav li a {	
	float: left;
	height: 44px;
	color: #fff;
	text-decoration: none;
}
ul#topnav li:hover a, ul#topnav li a:hover { background-position: left bottom; }

ul#topnav a.category {
	font-size: 1.5em;
	width: 30%; 
}
ul#topnav li .sub {
	position: absolute;	
	top: 44px; left: 0;
	background: #344c00;
	padding: 20px 20px 20px;
	float: left;
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	display: none;
}
ul#topnav li .row {clear: both; float: left; width: 100%; margin-bottom: 10px;}
ul#topnav li .sub ul{
	list-style: none;
	margin: 0; padding: 0;
	width: 170px;
	float: left;
}
ul#topnav .sub ul li {
	width: 100%;
	color: #fff;
}
ul#topnav .sub ul li h2 {
	padding: 0;  margin: 0;
	font-size: 1.3em;
	font-weight: normal;
}
ul#topnav .sub ul li h2 a {
	padding: 5px 0;
	background-image: none;
	color: #e8e000;
}
ul#topnav .sub ul li a {
	float: none; 
	text-indent: 0; /*--Reset text indent--*/
	height: auto;
	background: url(navlist_arrow.png) no-repeat 5px 12px;
	padding: 7px 5px 7px 15px;
	display: block;
	text-decoration: none;
	color: #fff;
}
ul#topnav .sub ul li a:hover {color: #ddd; background-position: 5px 12px ;}

#svgContainer {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #FFFFFF none repeat scroll 0 0;
	margin: 1em 5%;
	border: 1px solid #3C8243;
	float:left; 
	overflow: auto;
}
#svgContainer svg {

	overflow: scroll;
}
#clear {
	margin-top: 20px;
}

#zoomIn {
	margin-top: 20px;
}

#zoomOut {
	margin-top: 20px;
}

#data {
	margin-top: 20px;
}

#dataDiv {
	width: 100%;
	font-size: 1.5em;
	float:left;
	margin-left: 5%;
	margin-top: 1%;
	text-align:center;
}
